.wsite-button .wsite-button-inner, .wsite-editor .wsite-button .wsite-button-inner { float: none; display: inline-block; padding: 10px 14px; height: auto; border-radius: 1px; border: 1px solid #333; background: #fff; color: #333 !important; text-transform: uppercase; letter-spacing: 0.05em; white-space: normal; font-family: 'josefin_sanssemibold', sans-serif; font-size: 13px; line-height: normal; -webkit-transition: all 250ms ease-in; -moz-transition: all 250ms ease-in; -ms-transition: all 250ms ease-in; -o-transition: all 250ms ease-in; transition: all 250ms ease-in; }
.wsite-button:hover .wsite-button-inner, .wsite-button-large:hover .wsite-button-inner { border: 1px solid #333; background: #333; color: #fff !important; }
body{
-moz-user-select: none; /*火狐*/
-webkit-user-select: none; /*webkit浏览器*/
-ms-user-select: none; /*IE10*/
-khtml-user-select: none; /*早期浏览器*/
user-select: none;
}
